@import "/styles/normalize.css";
@import "/styles/fonts.css";

:root {
    --font-main: 'NewsGothic', 'Helvetica', sans-serif;
    --font-header: 'AkzidenzGrotesk', 'Helvetica', sans-serif;
    --font-logo: 'AlternativeGothic', 'Helvetica', sans-serif;
    --font-mono: menlo, monaco, 'Ubuntu Mono', 'Liberation Mono', 'Courier New', Courier, monospace;
    --text-1: #191919;
    --text-2: #fffdfd;
    --header-1: #2a2a2a;
    --background-1: #fffdfd;
    --background-2: #222222;
    --brand-1: #ff4f00;
    --link-1: #3291FF;
    --link-2: #0366D6;
    --button-text: #fffdfd;
}


@media (prefers-color-scheme:dark) {
    :root {
        --text-2: #222222;
        --text-1: #fffdfd;
        --header-1: #e4e4e4;
        --background-2: #fffffd;
        --background-1: #222222;
        --button-text: #222222;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    max-width: 45em;
    line-height: 1.5;
    letter-spacing: 0.5px;
    padding: 2em 1em;
    border-radius: 6px;
    overflow-x: hidden;
    word-break: break-word;
    overflow-wrap: break-word;
    background: var(--background-1);
    color: var(--text-1);
    font-family: var(--font-main);
    font-size: 1.1rem;
    text-rendering: optimizeLegibility;
    font-feature-settings: 'kern'1;
    font-kerning: normal;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-header);
    margin: 0;
    margin-left: 1rem;
    margin-bottom: 0.25em;
    margin-top: 0.5em;
    color: var(--header-1);
    font-weight: 700;
}

h1 {
    font-size: 2em;
    font-weight: 700;
    letter-spacing: -0.01em;
}

h2 {
    font-size: 1.75em;
    font-weight: 100;
    color: var(--text-1);
    letter-spacing: -0.01em;
}

h3 {
    font-size: 1.25em;
    letter-spacing: -0.01em;
}

h4 {
    font-size: 1.25em;
    font-weight: 400;
    color: var(--text-1);
}

h5 {
    font-size: 1em;
    letter-spacing: -0.01em;
}

h6 {
    font-size: 1em;
    font-weight: 400;
    color: var(--text-1);
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

p, dd {
    /* max-width: 32em; */
}

main {
    border-top: 3px dotted var(--text-1);
    padding-top: 1rem;
}

hr {
    margin: 1rem 0;
    border-top: 3px dotted var(--text-1);
    border-bottom: none;
}

a {
    color: var(--link-1)
}

a:hover {
    color: var(--link-2)
}

header {
    font-family: var(--font-logo);
    margin: auto;
    margin-bottom: 2rem;
    width: fit-content;
    display: flex;
    border: 1.5px solid var(--text-1);
    border-radius: 100px;
    align-items: center;
    justify-content: space-around;
    padding: 0;
    line-height: 1;

    & nav {
        width: fit-content;
        padding: 0 0.5rem;
    }

    & nav ul {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        margin: 0;

        & li::marker {
            content: none;
        }

        & li {
            border: 1.5px solid var(--text-1);
            border-right: none;
            padding: 0.5rem 0.75rem 0.25rem 0.75rem;
            font-size: 1.1em;
            font-weight: 300;

            & a {
                text-decoration: none;
                color: inherit;
            }
        }

        & li:nth-last-child(1) {
            border-radius: 0 100px 100px 0;
            border-right: 1.5px solid var(--text-1);
        }

        & li:hover {
            background-color: gainsboro;
            color: var(--brand-1);
        }

        & a:hover {
            color: var(--brand-1);
        }
    }

    & #logo {
        font-family: var(--font-logo);
        font-weight: bold;
        font-size: 2em;
        letter-spacing: 0.01em;
        padding: 0.3rem 1.5rem 0 1.5rem;
        text-transform: uppercase;
        background-color: var(--background-2);
        border-radius: 100px 0 0 100px;
        color: var(--text-2);
        font-stretch: extra-condensed;

        & a {
            display: block;
            text-decoration: none;
            color: var(--text-2);
        }

        & a::first-letter {
            font-size: 1.25em;
        }
    }
}

ul {
    margin-left: 1rem;

    & li::marker {
        color: var(--header-1);
        content: "✖ ";
    }
}


ol {
    margin-left: 1rem;

    & li::marker {
        color: var(--header-1);
        font-weight: bold;
    }
}

dt {
    font-weight: bold;
}

dt::after {
    content: ": ";
}

dd {
    margin-left: 1rem;
}

input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    width: 150px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

fieldset {
    padding-left: 2rem;
    border: 3px dotted var(--text-1);

    & legend {
        font-size: 1.5em;
        font-weight: 500;
        font-family: var(--font-logo);
        background-color: var(--background-2);
        color: var(--text-2);
        padding: 0 0.5rem;
    }

    &> :not(legend) {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    & input, select {
        width: 15em;
        padding: 0.2rem 0.1rem 0.1rem 0.1rem;
        margin-left: 1rem;
    }

    & input[type="date"], input[type="datetime"] {
        width: 10em;
    }

    input[type="checkbox"] {
        appearance: none;
        position: relative;
        width: 1em;
        height: 1em;
        border: 1px solid var(--text-1);
        /* Adjusts the position of the checkboxes on the text baseline */
        vertical-align: -2px;
        /* Set here so that Windows' High-Contrast Mode can override */
        color: var(--text-1);
        margin-right: 1rem;
    }

    input[type="checkbox"]::before {
        content: "✖";
        position: absolute;
        font-size: 1em;
        top: -0.05em;
        right: 0.06em;
        visibility: hidden;
    }

    input[type="checkbox"]:checked::before {
        /* Use `visibility` instead of `display` to avoid recalculating layout */
        visibility: visible;
    }

    input[type="checkbox"]:disabled {
        border-color: black;
        background: #ddd;
        color: gray;
    }

    input[type="radio"] {
        appearance: none;
    }

    input[type="radio"] {
        width: 1rem;
        height: 1rem;
        border-radius: 0.5rem;
        border: 1px solid var(--text-1);
        /* Adjusts the position of the checkboxes on the text baseline */
        vertical-align: -2px;
        outline: none;
        margin-right: 0.5rem;
        margin-left: 1rem;
    }

    input[type="radio"]::before {
        display: block;
        content: " ";
        width: 0.5rem;
        height: 0.5rem;
        border-radius: 6px;
        background-color: var(--text-1);
        font-size: 1.2em;
        transform: translate(0.19rem, 0.19rem) scale(0);
    }

    input[type="radio"]:checked::before {
        transform: translate(0.19rem, 0.19rem) scale(1);
    }
}

button, input[type="button"], input[type="submit"] {
    font-family: var(--font-logo);
    background-color: var(--background-2);
    color: var(--button-text);
    font-weight: 500;
    padding: 0.5rem 1rem;
    letter-spacing: 1px;
    font-size: 1.2em;
    border: none;
}

p, blockquote {
    margin-bottom: 1.5rem;
}

blockquote {
    margin-left: 2rem;
}

code {
    font-family: var(--font-mono);
}