:root {
    --font-sans: 'NewsGothic', 'Helvetica Neue', sans-serif;
    --font-mono: Consolas, monaco, 'Ubuntu Mono', 'Liberation Mono', 'Courier New', Courier, monospace;
    --text-1: #000000;
    --text-2: #FFFFFF;
    --background-1: #FFFFFF;
    --background-2: #000000;
    --background-3: #E5E7EB;
    --bt-1: #FF4F00;
    --link-1: #3291FF;
    --link-2: #0366D6;
    --link-tx: #FFFFFF;
    --ac-1: #79FFE1;
    --ac-tx: #0C4047
}
/* 
@media (prefers-color-scheme:dark) {
    :root {
        --text-1: #FFFFFF;
        --text-2: #000000;
        --background-1: #000000;
        --background-2: #FFFFFF;
        --background-3: #222222;
        --link-1: #3291FF;
        --link-2: #0070F3;
        --link-tx: #000000;
        --ac-1: #7928CA;
        --ac-tx: #FFFFFF
    }
} */

* {
    margin: 0;
    padding: 0;
}

address,
area,
article,
aside,
audio,
blockquote,
datalist,
details,
dl,
fieldset,
figure,
form,
iframe,
img,
input,
meter,
nav,
ol,
optgroup,
option,
output,
p,
pre,
progress,
ruby,
section,
table,
textarea,
ul,
video {
    margin-bottom: 1rem
}

button,
html,
input,
select {
    font-family: var(--font-sans)
}

body {
    margin: 0 auto;
    max-width: 750px;
    padding: 2rem;
    border-radius: 6px;
    overflow-x: hidden;
    word-break: break-word;
    overflow-wrap: break-word;
    background: var(--background-1);
    color: var(--text-1);
    font-size: 1.1rem;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    font-feature-settings: 'kern' 1;
    font-kerning: normal;
}

::selection {
    background: var(--ac-1);
    color: var(--ac-tx)
}

h1,
h2,
h3 {
    /* margin-top: 0.5em; */
    margin-bottom: 0.25em;
    line-height: 1em;
}

h4,
h5,
h6 {
    /* margin-top: 0.25em; */
    margin-bottom: 0.25em;
    line-height: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: AkzidenzGrotesk;
}

h1 {
    font-size: 2.5rem;
    font-weight: 900;
}

h2 {
    font-size: 2rem;
    font-weight: 100;
}

h3 {
    font-size: 2rem;
    font-weight: 700;
}

h4 {
    font-size: 1.5rem;
    font-weight: 100;
}

h5 {
    font-size: 1.25rem;
    font-weight: 500;
}

h6 {
    font-size: 1rem;
    font-weight: 900;
}

h1.workspace-name {
    font-weight: 700;
    font-size: 2rem;
}

h2.workspace-description {
    font-weight: 100;
    font-size: 1.5rem;
}

p {
    letter-spacing: 0.5px;
}

a {
    color: var(--link-1)
}

a:hover {
    color: var(--link-2)
}

abbr:hover {
    cursor: help
}

blockquote {
    padding: 1.5rem;
    /* background: var(--background-2); */
    border-left: 5px solid var(--background-3)
}

abbr {
    cursor: help
}

blockquote :last-child {
    padding-bottom: 0;
    margin-bottom: 0
}

header {
    background: var(--background-2);
    color: var(--text-2);
    padding: 1rem 1.5rem;
    margin: -2rem calc(0px - (50vw - 50%)) 2rem;
    padding-left: calc(50vw - 50%);
    padding-right: calc(50vw - 50%);
    
    
    & #banner-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    & h1 {
        font-family: AlternativeGothic;
        font-size: 3.25rem;
        font-weight: bold;
        margin: 0;
        padding: 0;
        line-height: 1;
        text-transform: uppercase;
        font-stretch: extra-condensed;
        letter-spacing: unset;
    }

    & h1::first-letter {
        font-size: 4rem;
    }

    & h2 {
        font-family: AlternativeGothic;
        font-size: 1.25rem;
        font-weight: 300;
        margin: 0;
        padding: 0;
        line-height: 1;
        letter-spacing: 2px;
    }

    & nav {
        display: flex;
        justify-content: flex-end;

        & a {
            font-family: AlternativeGothic;
            font-size: 1.25rem;
            font-weight: 500;
            letter-spacing: 0.1em;
            text-transform: capitalize;
            color: var(--link-tx);
            margin-right: 1rem;
        }
    }
}

header h1,
header h2,
header h3 {
    padding-bottom: 0;
    border-bottom: 0
}

header>:first-child {
    margin-top: 0;
    padding-top: 0
}

header>:last-child {
    margin-bottom: 0
}

a button,
button,
input[type=button],
input[type=reset],
input[type=submit] {
    font-size: 1rem;
    display: inline-block;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    background: var(--bt-1);
    color: var(--link-tx);
    border: 0;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
    color: var(--link-tx);
    width: min-content;
}

a button[disabled],
button[disabled],
input[type=button][disabled],
input[type=reset][disabled],
input[type=submit][disabled] {
    cursor: default;
    opacity: .5;
    cursor: not-allowed
}

.button:focus,
.button:hover,
button:focus,
button:hover,
input[type=button]:focus,
input[type=button]:hover,
input[type=reset]:focus,
input[type=reset]:hover,
input[type=submit]:focus,
input[type=submit]:hover {
    background: var(--link-2)
}

code,
kbd,
pre,
samp {
    font-family: var(--font-mono)
}

.markdown {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;

    & h1 {
        grid-column-end: span 4;
    }

    & h2 {
        grid-column-end: span 4;
    }

    & h3 {
        grid-column-end: span 2;
    }

    & h4 {
        grid-column-end: span 2;
    }

    & h5 {
        grid-column-end: span 1;
     }

    & h6 {
        grid-column-end: span 1;
    }

    & p {
        grid-column-end: span 2;
    }

    & ul, ol {
        grid-column-end: span 2;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
    }

    img {
        width: 100%;
    }
}

code,
kbd,
pre,
samp {
    /* background: var(--background-2); */
    border: 1px solid var(--background-3);
    border-radius: 4px;
    padding: 3px 6px;
    font-size: .9rem
}

kbd {
    border-bottom: 3px solid var(--background-3)
}

pre {
    padding: 1rem 1.4rem;
    max-width: 100%;
    overflow: auto
}

pre code {
    background: inherit;
    font-size: inherit;
    color: inherit;
    border: 0;
    padding: 0;
    margin: 0
}

code pre {
    display: inline;
    background: inherit;
    font-size: inherit;
    color: inherit;
    border: 0;
    padding: 0;
    margin: 0
}

details {
    padding: .6rem 1rem;
    background: var(--background-2);
    border: 1px solid var(--background-3);
    border-radius: 4px
}

summary {
    cursor: pointer;
    font-weight: 700
}

details[open] {
    padding-bottom: .75rem
}

details[open] summary {
    margin-bottom: 6px
}

details[open]>:last-child {
    margin-bottom: 0
}

dt {
    font-weight: 700
}

dd::before {
    content: '→ '
}

hr {
    border: 0;
    /* border-bottom: 1px solid var(--background-3); */
    /* margin: 1rem auto */
}

fieldset {
    margin-top: 1rem;
    padding: 2rem;
    border: 1px solid var(--background-3);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}

label {
    display: flex;
    flex-direction: column;
    width: min-content;
}

legend {
    padding: auto .5rem
}

table {
    border-collapse: collapse;
    width: 100%
}

td,
th {
    border: 1px solid var(--background-3);
    text-align: left;
    padding: .5rem
}

th {
    background: var(--background-2)
}

tr:nth-child(even) {
    background: var(--background-2)
}

table caption {
    font-weight: 700;
    margin-bottom: .5rem
}

textarea {
    width: 100%;
    height: 50rem;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

ol,
ul {
    padding-left: 2rem
}

li {
    /* margin-top: .4rem */
}

ol ol,
ol ul,
ul ol,
ul ul {
    margin-bottom: 0
}

mark {
    padding: 3px 6px;
    background: var(--ac-1);
    color: var(--ac-tx)
}

input,
select,
textarea {
    padding: 6px 12px;
    margin-bottom: .5rem;
    /* background: var(--background-2); */
    /* color: var(--text-); */
    border: 1px solid var(--background-3);
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box
}

img {
    max-width: 100%
}